/* set only one column for logo and search bar/breadcrumbs */

.searchPageBackground>div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* style the H1 on the search page */

.searchPageBackground h1 {
  background-color: rgb(43, 175, 203);
  height: 50px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
}

/* style the logo on search page*/

.logoSearchPage {
  text-align: center;
  margin-top: 50px;
}

.noResults {
  padding: 0 4% 0 4%;
}

/*For desktop*/

@media screen and (min-width: 960px) {
  /* set the witdh for the logo on desktop*/
  .logoSearchPage {
    width: 30%;
  }
  /* style the container for the breadcrumbs, h1 and search bar*/
  .searchPageBackground>div:first-of-type>div:nth-of-type(2) {
    width: 65%;
    margin-top: 50px;
    margin-right: 50px;
  }
  .searchPageBackground {
    background: url(../../images/TeamBackv.png) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  /* set only one column for logo and search bar/breadcrumbs */
  .searchPageBackground>div:first-of-type {
    flex-direction: row;
  }
  .searchPageBackground h1 {
    margin-left: 0;
  }
}